@import './vars';

@mixin onMiniTalet {
  @media (min-width: 310px) {
    @content;
  }
}

@mixin onPhone-M {
  @media (min-width: $phone-m-width) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin onTablet-L {
  @media (min-width: $tablet-l-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin defaultHover {
  @include onDesktop {
    transition: color, fill, $transition-duration;
    &:hover {
      color: var(--gray-primary-color);
      fill: var(--gray-primary-color);
    }
  }
}

@mixin buttonHover {
  @include onDesktop() {
    transition: box-shadow $transition-duration;
    &:hover {
      box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.4);
    }
  }
}

@mixin displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
