
$transition-duration: 0.3s;

// products colors
$phone-silver: #e4e4e2;
$phone-gold: #f5ddc5;
$phone-rosegold: #e6c7c2;
$phone-black: #000000;
$phone-spacegray: #25282a;
$phone-spaceblack: #333334;
$phone-yellow: #ffe681;
$phone-red: #a5282c;
$phone-white: #f9f6ef;
$phone-coral: #ee7762;
$phone-midnightgreen: #4e5851;
$phone-midnight: #00040d;
$phone-sierrablue: #bfdaf7;
$phone-starlight: #f8f9ec;
$phone-pink: #ffc0cb;
$phone-graphite: #383428;
$phone-purple: #b8afe6;
$phone-green: #e1f8dc;
$phone-blue: #0063a4;
