:root {
  --gray-primary-color: #313237;
  --gray-secondary-color: #89939a;
  --gray-icons-placeholders-color: #b4bdc3;
  /* --gray-elements-color: #e2e6e9; */
  --gray-background-color: #fafbfc;
  --white-color: #fff;
  --green-color: #27ae60;
  --red-color: #eb5757;

  --purple-primary-color: #665cd1;
  --purple-secondary-color: #f1f0ff;
  --black-color: #171717;
  --gray-elements-color: #ebebeb;


  /* card */
  --body-background-color: #fff;
  --card-background-color: #fff;
  --card-main-text-color: #313237;
  --card-secondary-text-color: #89939a;
  --card-divider-color: #e2e6e9;
  --card-add-button: #313237;
  --add-button-border: #313237;
  --add-button-border-hover: #313237;
  --add-button-background-hover: #313237;
  --add-button-background-selected: #fff;
  --add-button-color-selected: #27ae60;
  --add-button-border-selected: #e2e6e9;
  --modal-bg-color: #fafbfc;

  --card-text-in-button: #fff;
  --card-border-color: #e2e6e9;
  --card-border-hover-color: #e2e6e9;
  /* icons */
  --icon-favorite: #313237;
  --icon-favorite-background: #fff;
  --icon-border: #b4bdc3;
  --icon-border-hover: #313237;
  --icon-background-hover: #fff;
  --icon-selected-bg: none;
  --icon-selected-border: #e2e6e9;
  --icon-right-color: #b4bdc3;
  /* text-color */
  --text-main-color: #313237;
  --text-secondary-color: #89939a;
  --header-box-shadow-color: #e2e6e9;
  --text-back: #89939a;
  --text-return: #fff;
  /* img-border */
  --img-border: #e2e6e9;
  --img-border-hover: #313237;
  --img-border-select: #313237;
}

[data-theme='dark'] {
  --gray-primary-color: #905bff;
  --gray-secondary-color: #89939a;
  --gray-icons-placeholders-color: #b4bdc3;
  --gray-elements-color: #e2e6e9;
  --gray-background-color: #fafbfc;
  --white-color: #fff;
  --green-color: #27ae60;
  --red-color: #eb5757;
  /* card */
  --body-background-color: #0f1121;
  --card-background-color: #161827;
  --card-main-text-color: #f1f2f9;
  --card-secondary-text-color: #75767f;
  --card-divider-color: #3b3e4a;
  --card-add-button: #905bff;
  --add-button-border: #905bff;
  --add-button-border-hover: #a378ff;
  --add-button-background-hover: #a378ff;
  --add-button-background-selected: #323542;
  --add-button-color-selected: #f1f2f9;
  --add-button-border-selected: #323542;
  --card-text-in-button: #f1f2f9;
  --card-border-color: #161827;
  --card-border-hover-color: #323542;
  --modal-bg-color: #161827;
  /* icons */
  --icon-favorite: #f1f2f9;
  --icon-favorite-background: #323542;
  --icon-border: #323542;
  --icon-border-hover: #4a4d58;
  --icon-background-hover: #4a4d58;
  --icon-selected-bg: none;
  --icon-selected-border: #3b3e4a;
  --icon-right-color: #4a4d58;
  /* text-color */
  --text-main-color: #f1f2f9;
  --text-secondary-color: #75767f;
  --header-box-shadow-color: #323542;
  --text-back: #f1f2f9;
  --text-return: #0f1121;
  /* img-border */
  --img-border: #4a4d58;
  --img-border-hover: #f1f2f9;
  --img-border-select: #f1f2f9;
}

* {
  transition: all 0.3s ease-in-out;
}
