:root {
  --purple-primary-color: #665cd1;
  --purple-secondary-color: #f1f0ff;
  --black-color: #171717;
  --black-secondary-color: #262626;
  --gray-elements-color: #ebebeb;
  --gray-text-color: #c4c4c4;
  --gray-subtitle-color: #5a5a5a;
  --gray-for-checkbox: #7e7e7e;
  --white-bg-color: #fefefe;
}

* {
  transition: all 0.3s ease-in-out;
}
